<link href="demo.css" rel="stylesheet" >
<div>
    <!-- <table>
        <thead>
            <th>pkID</th>
            <th>status</th>
        </thead>
        <tbody>
            <% for (var r=0;r<list.length;r++){%>
                <tr>
                    <td><%=list.pkID%></td>
                    <td><%=list.status%></td>
                </tr>
                <%}%>
        </tbody>
    </table> -->
    <!-- {{each list}}
    <tr>
        <td>{{$value.pkID}}</td>
        <td>{{$value.status}}</td>
    </tr>
    {{/each}} -->
    pafsd
</div>