<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href = "demo.css">
</head>
<body>
    <div>
            <form action = "/doLogin" method="post">
                    用户名：<input type="text" required name="name">
                    <br>
                    <br>
                    密　码：<input type="password" required name="pwd">
                    <br>
                    <br>
                    <input type="submit" value="登录">
            
                </form>
    </div>

</body>


</html>